body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ddddddf9;
    ;
}

.container {
    background-color: rgba(255, 213, 0, 0.866);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 80px;
}

.flag img {
    width: 30px;
}

.search {
    padding: 8px;
    border: 1px solid #ddd;
    width: 600px;
    border-radius: 5px 5px 5px 5px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin-top: 10px;
}

.all {
    color: blue;
}

.recomanded {
    display: flex;
    justify-content: space-evenly;
}

.electronics {
    display: flex;
    justify-content: space-evenly;
}

.grocery {
    display: flex;
    justify-content: space-evenly;
}

.read {
    color: #0000ff;
    padding: 15px;
}

.para {
    color: rgba(0, 0, 0, 0.237);
    padding: 15px;

}

h5 {
    padding: 15px;
}

.footer {
    background-color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}

.ul-list {
    display: block;
    color: rgba(0, 0, 0, 0.421);

}

.shop {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;

}

.facebook {
    align-items: center;
    width: 25px;
    height: 20px;
}

.Reserved {
    background-color: white;
}